*{
    margin: 0 auto;
    padding: 0%;
}

header{
    background-color: red;
    color: white;
    height: 50px;
    width: 100%;
    text-align: center;
    padding-top: 20px;
}
body{
    width: 50%; 
}
